examples/examples.json
[
  {
    "id": "cd167cf2edaf6512",
    "type": "inject",
    "z": "a42573365dced8a7",
    "name": "'Create' Task Data",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"content\":\"Test Task\",\"project_id\":2184202398,\"priority\":1}",
    "payloadType": "json",
    "x": 790,
    "y": 260,
    "wires": [["57872b84db271bd5"]]
  },
  {
    "id": "a33919ea4e211f6f",
    "type": "debug",
    "z": "a42573365dced8a7",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1330,
    "y": 500,
    "wires": []
  },
  {
    "id": "57872b84db271bd5",
    "type": "todoist-task-create",
    "z": "a42573365dced8a7",
    "name": "",
    "token": "356640820f7529fb",
    "x": 990,
    "y": 260,
    "wires": [["a33919ea4e211f6f"]]
  },
  {
    "id": "c956437292d12df9",
    "type": "inject",
    "z": "a42573365dced8a7",
    "name": "'Delete' Task Data",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\": 2995104339}",
    "payloadType": "json",
    "x": 810,
    "y": 700,
    "wires": [["55c2728a694fba50"]]
  },
  {
    "id": "55c2728a694fba50",
    "type": "todoist-task-delete",
    "z": "a42573365dced8a7",
    "name": "",
    "token": "356640820f7529fb",
    "x": 990,
    "y": 700,
    "wires": [["a33919ea4e211f6f"]]
  },
  {
    "id": "6176e44bfb398636",
    "type": "todoist-task-get",
    "z": "a42573365dced8a7",
    "name": "",
    "token": "356640820f7529fb",
    "x": 990,
    "y": 420,
    "wires": [["a33919ea4e211f6f"]]
  },
  {
    "id": "c1188501e6f9600d",
    "type": "inject",
    "z": "a42573365dced8a7",
    "name": "'Get' Task Data",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\": 6928692827}",
    "payloadType": "json",
    "x": 800,
    "y": 420,
    "wires": [["6176e44bfb398636"]]
  },
  {
    "id": "2e76265919aa72c3",
    "type": "todoist-task-get-all",
    "z": "a42573365dced8a7",
    "name": "",
    "token": "356640820f7529fb",
    "x": 990,
    "y": 520,
    "wires": [["a33919ea4e211f6f"]]
  },
  {
    "id": "69b1cabab46f6f35",
    "type": "inject",
    "z": "a42573365dced8a7",
    "name": "Get all tasks on account",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 770,
    "y": 500,
    "wires": [["2e76265919aa72c3"]]
  },
  {
    "id": "92109d8916dc7d55",
    "type": "inject",
    "z": "a42573365dced8a7",
    "name": "'Get all tasks by project' Data",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"project_id\": 2203306141}",
    "payloadType": "json",
    "x": 760,
    "y": 540,
    "wires": [["2e76265919aa72c3"]]
  },
  {
    "id": "000b832a2480a983",
    "type": "todoist-task-update",
    "z": "a42573365dced8a7",
    "name": "",
    "token": "356640820f7529fb",
    "x": 1000,
    "y": 340,
    "wires": [["a33919ea4e211f6f"]]
  },
  {
    "id": "700d04f92cda39dd",
    "type": "inject",
    "z": "a42573365dced8a7",
    "name": "'Complete' Task Data",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\": 6952231601}",
    "payloadType": "json",
    "x": 780,
    "y": 760,
    "wires": [["682a305ee30dc176"]]
  },
  {
    "id": "cc1fde08a13eb508",
    "type": "inject",
    "z": "a42573365dced8a7",
    "name": "'Reopen' Task Data",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\": 6952231601}",
    "payloadType": "json",
    "x": 790,
    "y": 820,
    "wires": [["e0d0f19b60d02989"]]
  },
  {
    "id": "682a305ee30dc176",
    "type": "todoist-task-complete",
    "z": "a42573365dced8a7",
    "name": "",
    "token": "356640820f7529fb",
    "x": 1000,
    "y": 760,
    "wires": [["a33919ea4e211f6f"]]
  },
  {
    "id": "e0d0f19b60d02989",
    "type": "todoist-task-reopen",
    "z": "a42573365dced8a7",
    "name": "",
    "token": "356640820f7529fb",
    "x": 1000,
    "y": 820,
    "wires": [["a33919ea4e211f6f"]]
  },
  {
    "id": "78eb9328879e60a0",
    "type": "todoist-query-api",
    "z": "a42573365dced8a7",
    "name": "",
    "token": "356640820f7529fb",
    "x": 980,
    "y": 900,
    "wires": [["a33919ea4e211f6f"]]
  },
  {
    "id": "18ecd2329af515a6",
    "type": "inject",
    "z": "a42573365dced8a7",
    "name": "'Query API' Data",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"endpoint\":\"projects\",\"method\":\"POST\",\"data\":{\"name\":\"My new project\"}}",
    "payloadType": "json",
    "x": 800,
    "y": 900,
    "wires": [["78eb9328879e60a0"]]
  },
  {
    "id": "aa37c1c0a0fbd9f5",
    "type": "inject",
    "z": "a42573365dced8a7",
    "name": "'Update' Task Data",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\":5591401849,\"content\":\"Test Task (updated)\",\"project_id\":2184202398,\"priority\":1,\"assignee\":2671142}",
    "payloadType": "json",
    "x": 790,
    "y": 340,
    "wires": [["000b832a2480a983"]]
  },
  {
    "id": "129695bc57f500ac",
    "type": "todoist-project-get-all",
    "z": "a42573365dced8a7",
    "name": "",
    "token": "356640820f7529fb",
    "x": 1000,
    "y": 620,
    "wires": [["a33919ea4e211f6f"]]
  },
  {
    "id": "bbf905274a28d558",
    "type": "inject",
    "z": "a42573365dced8a7",
    "name": "Get all projects on account",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 770,
    "y": 620,
    "wires": [["129695bc57f500ac"]]
  },
  {
    "id": "356640820f7529fb",
    "type": "add-todoist-api-token",
    "name": "todoist"
  }
]
